.time{
    text-align: center;
    background-color: #D9F7E9;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    border-bottom: 2px solid #57C278;
    display: inline-block;
    padding-bottom: 10px;
}