.time{
    text-align: center;
    background-color: #D9F7E9;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    display: inline-block;
}

.time .colaboradores{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    flex-wrap: wrap;
}